.content {
  width: 100%;
  min-height: 100vh;
  flex: 1;
  background-color: #a8dadc; 
  padding: 100px 20px 20px;
  left: 0;
  right: 0;
  direction: rtl;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}