
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-header {
  width: 98%;
  display: flex;
  justify-content: space-between; 
  position: fixed;
  top: 0;
  align-items: center;
  padding: 10px 20px;
  background-color: #383730; 
  color: white;
}

.layout-header nav {
  display: flex;
  gap: 10px;
}

.nav-button {
  background-color: #457b9d;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #1d3557;
}

