
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.layout-header {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  padding: 10px 20px;
  background-color: #383730; 
  color: white;
  box-sizing: border-box;
}

.header-left {
  flex: 1;
  display: flex;
  justify-content: left;
}

.header-center  {
  flex: 1;
  display: flex;
}


.nav-button {
  background-color: #457b9d;
  color: white;
  justify-content: center;
  border: none;
  padding: 10px 12px ;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 30px;
}
.nav-button:first-child {
  margin-left: 50px;
}

.nav-button:hover {
  background-color: #1d3557;
}



@media (max-width: 768px) {
  .layout-header {
    flex-direction: column;
    gap: 10px;
  }

  .header-left, .header-center, .header-right {
    flex: unset;
    justify-content: center;
  }
}


