.logo {
  background-color: #e63946; 
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5px;
  font-weight: bold;
}

.logo-img {
  font-size: 10px;
  
}